/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */



* {
font-family: inter;
scroll-behavior: smooth;
}


body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
    font-family: inter;
}

.bk-cloth{
    height: 100vh!important;
    background-color: white!important;
    background-image: url(../img/Prueba/bk-first-slide.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bk-slide{
    height: 100vh!important;
    background-color: white!important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-slide{
    height: 100vh;
}

.shadow {
    transition-duration: 1s;
    transition-property: transform;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

div a {
    color: #ED7524;
    font-family: inter;
    text-transform: uppercase
}

div a:hover {
    transition-duration: 0.3s;
    transition-property: transform;
    transform: scale(1.05);
    box-shadow: 0px 4px 5px rgba(5, 5, 5, 0.1);
    color: white;
    background-color: #ED7524;
}

.btn-cart {
background-color: #ED7524;
    color:white;
}

.btn-search{
    background-color: white;
    color: #ED7524;
}

.bg-orange {
background-color: #ED7524;
    color:white;
}

.btn-cart:hover{
        transition-duration: 0.3s;
    transition-property: transform;
    transform: scale(1.05);
    box-shadow: 0px 4px 20px rgba(5, 5, 5, 0.3);
    color: white;
    background-color: #ED7524;
}



p a {
    text-transform: capitalize;
}

p a:hover {
    box-shadow: none;
    color: #ED7524;
    background-color: transparent;
}

.line {
    border: 1px solid
}

h5 {
    font-weight: 600;
    text-transform: uppercase
}

p {
    font-family: inter;
    font-weight: 300;
}

.descrip-1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.descrip-2 {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
}
.center-text {
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
}
.divider{
    margin-top:2em;
    margin-bottom: 2em;
    border: 1px none none solid none #e8e8e8;

}
h6{
    font-size: 18px;
    font-weight: 600;
    color: #B2B2B2;
}

label{
    font-family: inter;
    font-weight: 100
}



.switch-field {
	display: flex;
	margin-bottom: 36px;
	overflow: hidden;
    margin-bottom: 0px;
}

.switch-field input {
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	padding: 8px 16px;
	transition: all 0.3s ease-in-out;
}

.switch-field label:hover {
transform: scale(1.1);
    box-shadow: 0px 4px 5px rgba(5, 5, 5, 0.1);
}

.switch-field input:checked + label {
	background-color:#ED7524 ;
	box-shadow: none;
    color: white;
}

.switch-field label {
	border-radius: 5%;
}
h1 {
    font-weight: 700;
}

div button a {
    color: white;
    font-family: inter;
    text-transform: capitalize;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
    background-color: #777;
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

.sale{
    font-family: poppins;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0;
    /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

@media (max-width:760px){
    .display-n{
    display: none;

}


    }

